/* Message Success on Save*/

#app-popup-success-div {
    position: absolute;
    margin-left: 25%;
    top: 12px;
    width: 50%;
    z-index: 20000;
}

#app-popup-success-div .msgSuccess {
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #dff0d8;
    border: 1px solid transparent;
    margin-top: 2px;
    padding: 12px;
}

#app-popup-success-div .msgSuccess h3 {
    color: #3c763d;
    text-align: center;
}


/*#app-popup-success-div .msgSuccess {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #88CC88;
    border: 2px solid #499273;
    margin-top: 2px;
    padding: 12px;
}

#app-popup-success-div .msgSuccess h3 {
    color: #004400;
    text-align: center;
}*/


/* Message Success on Save*/


/* Message Error on Save */

#app-popup-error-div {
    position: absolute;
    margin-left: 25%;
    top: 12px;
    width: 50%;
    z-index: 20000;
}

#app-popup-error-div .msgError {
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 2px;
    padding: 10px;
    background-color: #f2dede;
    º1
}

#app-popup-error-div .msgError h3 {
    vertical-align: bottom;
    color: #a94442;
    text-align: center;
}


/*#app-popup-error-div {
    position: absolute;
    left: 50%;
    top: 12px;
    width: 350px;
    margin-left: -150px;
    z-index: 20000;
}

#app-popup-error-div .msgError {
    border-radius: 8px;
    -moz-border-radius: 8px;
    border: 2px solid #FF5B5B;
    margin-top: 2px;
    padding: 12px;
    background-color: #FFAAAA;
}

#app-popup-error-div .msgError h3 {
    vertical-align: bottom;
    color: #550000;
    text-align: center;
}*/


/* Message Error on SAVE */


/* override: sencha theme */

.custom-grid .x-grid-cell {
    background-color: #ffa;
    border-bottom-color: #ffc;
    border-top-color: #ff5;
    color: #000;
}

.custom-grid .x-grid-row-alt {
    background-color: #fafafa;
    border-bottom-color: #ffc;
    border-top-color: #ff5;
    color: #000;
}


/* Grid cells when the mouse cursor is over the row */

.custom-grid .x-grid-row-over .x-grid-cell {
    background-color: #3892d3;
    border-bottom-color: #999;
    border-bottom-style: dashed;
    border-top-color: #999;
    border-top-style: dashed;
}


/* Grid cells in the selected row */

.custom-grid .x-grid-row-selected .x-grid-cell {
    background-color: #3892d3;
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-top-color: #999;
    border-top-style: solid;
}

.ux-row-expander-comment p {
    font-size: x-small;
}

.custom-viewport {
    background-color: #3892d3;
}

.black-viewport {
    background-color: black;
}

.custom-grid .x-grid-row .x-grid-cell-inner {
    white-space: normal;
}

.custom-grid .x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
    white-space: normal;
}

.x-grid-cell-inner {
    font-size: 12px;
}

.x-column-header-inner {
    font-size: 12px;
}

.x-form-text {
    font-size: 12px;
}

.x-form-item-label {
    font-size: 12px;
}

.x-boundlist-item {
    font-size: 12px;
}

.x-form-field {
    font-size: 12px;
}

.x-grid-row-summary td.x-grid-td .x-grid-cell-inner {
    font-size: 12px;
    font-weight: bold;
    color: green;
}

.x-form-cb-label {
    font-size: 12px;
}

.app-check {
    background-image: url(images/check.gif);
    width: 24px;
    height: 24px;
}

.app-cross {
    background-image: url(images/cross.gif);
    width: 24px;
    height: 24px;
}

.app-page-save {
    background-image: url(images/page-save.png)
}

.app-page-edit {
    background-image: url(images/page-edit.png)
}

.app-page-undo {
    background-image: url(images/page-undo.png)
}

.app-page-delete {
    background-image: url(images/page-delete.png)
}

.app-page-add {
    background-image: url(images/page-add.png)
}

.app-page-first {
    background-image: url(images/page-first.png)
}

.app-page-prev {
    background-image: url(images/page-prev.png)
}

.app-page-next {
    background-image: url(images/page-next.png)
}

.app-page-last {
    background-image: url(images/page-last.png)
}

.app-page-refresh {
    background-image: url(images/page-refresh.png)
}

.app-find {
    background-image: url(images/find.png);
}

.app-find:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-search {
    background-image: url(images/search.png);
}

.app-search:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-user {
    background-image: url(images/user.png);
}

.app-user:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-logout {
    background-image: url(images/logout.png);
}

.app-logout:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-grid-edit {
    background-image: url(images/grid-edit.png);
}

.app-grid-edit:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-print {
    background-image: url(images/print.png);
}

.app-print:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.app-attachment {
    background-image: url(images/attachment.png)
}

.app-camera {
    background-image: url(images/camera.png)
}

.app-camera:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.x-btn-toolbar-small-cus {
    background: transparent;
    border: none!important;
}

.x-btn-toolbar-small-cus .x-btn-inner {
    font-weight: normal;
    color: white;
    font-size: 14;
}

.x-btn-toolbar-small-cus:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: orange;
}

.x-grid .x-panel-header-default {
    /*background-color: #BCB6B0;*/
    background-color: #9FA5AF;
}

.x-grid .x-header-text {
    color: black;
}


/*.x-body {
    font-family: Tahoma;
    font-size: 9px;
    color: #333;
}*/


/**
 * Emulating <blink> using WebKit CSS3 animation        
 *   This code is part of John Smith's blog
 *
 * Copyright 2010 by John Smith, All Rights Reserved
 *
 * @link   http://www.john-smith.me/emulating--lt-blink-gt--using-webkit-css3-animation
 * @date   18th October 2010 at 11:01 p.m.
 * @author John Smith
 */

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.estatus-normal .x-change-cell {
    color: green;
    font-weight: bold;
}

.estatus-alerta .x-change-cell {
    color: red;
    font-weight: bold;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.picture-capture .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 0.8em
}

.picture-capture .icon i {
    display: block;
    font-size: 3.5em;
    color: #fff
}

.icon-camera {
    background-image: url(images/camera.png);
    background-repeat: none;
}


/*.icon-camera:before{font-style:normal;text-align:center;font-family:'Pictos';content:"v"}

/*.x-form-type-text textarea.x-form-invalid-field, .x-form-type-text input.x-form-invalid-field, .x-form-type-password textarea.x-form-invalid-field, .x-form-type-password input.x-form-invalid-field, .x-form-type-number textarea.x-form-invalid-field, .x-form-type-number input.x-form-invalid-field, .x-form-type-email textarea.x-form-invalid-field, .x-form-type-email input.x-form-invalid-field, .x-form-type-search textarea.x-form-invalid-field, .x-form-type-search input.x-form-invalid-field, .x-form-type-tel textarea.x-form-invalid-field, .x-form-type-tel input.x-form-invalid-field {
    background-color: rgb(255,234,234);
    background-image: url(images/grid/invalid_line.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    border-color: #c30;
}
*/


/* CSS */


/*
.x-mask-loading {
    background-color: white;
}
*/

.totalColumn {
    color: green;
    font-weight: bold;
}

.noCostColumn {
    color: red;
    font-weight: bold;
}

.header-iconx {
    width: 24;
    height: 24;
}

.var-positive .x-form-field {
    color: blue;
}

.var-negative .x-form-field {
    color: red;
}

.excel {
    background-image: url(images/excel.png)
}

.vendor-title {
    font-size: 14;
    font-weight: bold;
    color: white;
    z-index: 99;
}


/* UX Notify Button */

.ux-notify {
    position: relative;
    color: white;
    font-size: 18px;
    margin-right: 6px;
    padding-right: 4px;
    padding-left: 4px;
    text-transform: none;
    padding-top: 0px;
}

.ux-badge {
    background-color: red;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: -1px;
    left: 15px;
    padding: 2px 5px;
    border-radius: 5px;
}

a.ux-notify {
    margin-right: 6px;
    padding-right: 4px;
    padding-left: 4px;
    text-transform: none;
}


/* UX Notify Button */

.fa {
    color: #3892d3;
}

.x-override-action:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.x-menu-item-glyph {
    font-size: 16px;
    line-height: 16px;
    color: #3892d3;
    opacity: 1;
}

.padding-left45 {
    padding-left: 45px;
}

.nuvem-chat-title {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.nuvem-chat-title .fa-user-circle {
    font-size: 24px;
}

.nuvem-chat-title:hover {
    border: 1px;
    border-color: #157fcc;
    border-style: solid;
}

.nuvem-chat-title span {
    padding-left: 10px;
    font-weight: normal;
}

.data-view-selected {
    background-color: #FFE2CA;
    /*#f3f3f3;*/
    font-weight: bold;
}

.nuvem-bubble {
    padding: 6px 7px 8px 9px;
}

.nuvem-bubble-left {
    position: relative;
    /*min-width: 10px;*/
    min-height: 60px;
    /*width: 25px;*/
    height: auto;
    padding: 10px;
    background: #FFE2CA;
    /*#f3f3f3;*/
    width: 70%;
    margin-left: 10%;
    margin-top: 1%;
}

.nuvem-bubble-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 27px 11px 0;
    border-color: transparent #FFE2CA;
    /*#f3f3f3;*/
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 20px;
}

.nuvem-bubble-right {
    position: relative;
    /*min-width: 10px;*/
    min-height: 60px;
    /*width: 25px;*/
    height: auto;
    padding: 10px;
    background: #A9BCF5;
    width: 70%;
    margin-left: 20%;
    margin-top: 1%;
}

.nuvem-bubble-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 27px;
    border-color: transparent #A9BCF5;
    display: block;
    width: 0;
    z-index: 1;
    right: -20px;
    top: 20px;
}

.nuvem-bubble-right span {
    text-align: right;
}

.nuvem-text-bubble {
    font-size: 12px;
}

.nuvem-message-datetime {
    vertical-align: middle;
    float: right;
    font-size: 10px;
    margin-top: 10px;
    font-style: italic;
}

.nuvem-btn-mirror {
    display: block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.nuvem-btn-dark {
    color: #003C7E;
}

.nuvem-medium {
    font-size: 15px;
    padding-top: 1px;
}

.nuvem-notify-unread {
    position: relative;
    /*min-width: 10px;*/
    min-height: 50px;
    /*width: 25px;*/
    height: auto;
    padding: 5px;
    background: #A9BCF5;
    width: 85%;
    margin-left: 5%;
    margin-top: 1%;
}

.nuvem-notify-unread:hover {
    border: 1px;
    border-color: #157fcc;
    border-style: solid;
}

.nuvem-notify-read {
    position: relative;
    /*min-width: 10px;*/
    min-height: 50px;
    /*width: 25px;*/
    height: auto;
    padding: 5px;
    background: #f3f3f3;
    width: 85%;
    margin-left: 5%;
    margin-top: 1%;
}

.nuvem-notify-unread:hover {
    border: 1px;
    border-color: #157fcc;
    border-style: solid;
}

.wellcome-signed-text {
    /*padding-bottom: 10px !important;*/
    max-width: 340px;
}

.wellcome-signed-text p {
    line-height: 100%;
    font-size: large !important;
    font-weight: bold;
    color: #FF6400 !important;
    text-align: center !important;
}

.wellcome-signed-text h2 {
    color: #FF6400 !important;
}

.wellcome-signed-text span {
    font-size: 34px;
    /*margin-left: 45%;*/
    padding-bottom: 5px;
}
